<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="infobox" class="infobox">
      <img
        src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png"
        alt="pin logo"
        class="img1"
        width="100px"
      />
      <h1>Welcome to Pinterest</h1>
      <div class="buttonbox">
        <a href="/register"><button class="btns">Create Account</button></a>
        <a href="/login"><button class="btns">Login</button></a>
      </div>
    </div>
  </body>
</html>
