@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: "DM Sans", sans-serif;
}
.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px;
    min-height: 100vh;
    background-color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 1)), url("../images/soragrit-wongsa-aV5xrpB0bwQ-unsplash.jpg");
    background-size: cover;

    
}
.formbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 60px;
    height: 60vh;
    width: 30%;
    background-color: white;
    /* border: solid red; */
    border-radius: 20px;
}
.btn {
    width: 100%;
    height: 40px;
    border: hidden;
    border-radius: 20px;
    font-size: 1rem;
    margin: 5px 0px;
    background-color:#f30d19 ;
    color: white;
    cursor: pointer;
  }
    .btn:hover {
        background-color: #d20a14;
        color: white;
    }
  .detail {
    width: 100%;
    height: 48px;
    margin: 5px;
    padding: 15px;
    font-size: 1rem;
    color: gray;
    border: 2px solid rgb(218, 214, 214);
    border-radius: 15px;
  }
  .detail:focus {
    outline: none;
  }
  input[type=file]::file-selector-button {
    background-color: #f30d19;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;
  }
    input[type=file]::file-selector-button:hover {
        background-color: #d20a14;
        color: white;
    }